<% if @inquiry.errors.any? %>
  <div id="error_explanation">
    <ul class="errors-list">
    <% @inquiry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
