  <section class="contact">
    <div class="error-404">404:Not Found</div>
    <p> お探しのページは存在しません。</p>
    <div class="link-to-top">
      <%= link_to("トップに戻る", homes_index_path) %>
    </div>
  </section>
