
body {
  display: block;
  margin: 0;
  background-color: #f9d4e7;
  width: 100vw;
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  // background-image: url("/images/test.png");
  // background-size: cover;
}
.error-404 {
  font-size: 81px;
  font-weight: bold;
  color: #e89ec9;
}
.contact p {
  font-size: 30px;
  color: gray;
}
@media (max-width: 500px) {
  .error-404 {
    font-size: 25px;
    font-weight: bold;
    color: #e89ec9;
  }
  .contact p {
    font-size: 17px;
    color: gray;
  }
}
#page_top{
  position: fixed;
  right: 30px;
  bottom: 30px;
}
#page_top a {
  position: relative;
  display: block;
  background-image: url("/images/TOP.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  text-decoration: none;
}
@media (max-width: 500px) {
  #page_top{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  #page_top a {
    position: relative;
    display: block;
    background-image: url(/images/TOP.png);
    background-size: 101%;
    background-repeat: no-repeat;
    width: 83px;
    height: 96px;
    text-decoration: none;
  }
}
/* -------------------------------
 * contents
 * -------------------------------- */
 .content {
  margin: auto;
  max-width: 1000px;
  background-color: #c1b1c6;
}
section.top {
  background-image: url(/images/top-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.top-logo {
  display: block;
  text-align: center;
}
.top-logo img {
    margin-top: -3%;
    width: 68%;
}
section.story {
  background-image: url("/images/love_web背景2-01.png");
  background-size: 100%;
  min-height: 600px;
  position: relative;
}
.story-title {
  text-align: center;
}
.story-title img {
  margin-left: 30%;
  margin-bottom: -8%;
  margin-top: 0%;
  width: 47%;
}
.story-content {
  text-align: center;
}
.story-content img {
  width: 55%;
}
.story-content-1 img {
  width: 73%;
}
.story-content .story-content-1,
.story-content .story-content-3,
.story-content .story-content-5 {
  margin-right: 35%;
}
.story-content .story-content-2,
.story-content .story-content-4 {
  margin-left: 35%;
}
.story-content .story-content-2,
.story-content .story-content-3,
.story-content .story-content-4,
.story-content .story-content-5 {
  margin-top: -16%;
}
section.profile {
  background-image: url("/images/twitter-bg.png");
  min-height: 700px;
  position: relative;
  text-align: center;
}
.profile-title img {
  margin-bottom: -8%;
  margin-top: 1%;
  width: 33%;
}
.profile-content {
  display: inline-block;
  margin-top: 10%;
}
.profile-content-image {
  float: left;
}
.profile-content-description {
  float: right;
}
.profile-content-description img {
  width: 120%;
  margin-left: -41px;
}
.profile-content-image img {
  width: 100%;
}
ul.profile-content-image-list {
  list-style: none;
  width: 100%;
  padding-left: 0;
  display: inline-block;
}
.profile-content-image-list li {
  display: inline-block;
  margin: 10px;
  width: 15%;
}
section.goods {
  background-image: url("/images/twitter-bg.png");
  min-height: 700px;
  position: relative;
}
.goods-image img {
  position: absolute;
  top: 18%;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
}
img.good-logo {
  width: 26%;
  position: absolute;
  margin: 0;
  left: 17%;
  top: 26%;
}
.cloud {
  position: absolute;
  top: 0;
  left: 5%;
}
.cloud-2 {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
section.twitter {
  background-image: url("/images/profile-bg.png");
  background-size: 100%;
  min-height: 700px;
  position: relative;
  text-align: center;
  margin-bottom: -20px;
}
.twitter-title img {
  margin-bottom: -8%;
  margin-top: 8%;
  width: 33%;
}
img.follow-button {
  width: 23%;
  margin-top: 13%;
}
.twitter-timeline.twitter-timeline-error {
  width: 40%;
  height: 500px;
  overflow-y: scroll;
  display: block;
  margin: 17px auto 0;
  border-radius: 13px;
  border: solid 24px #ecc9db;
}
section.contact {
  background-image: url("/images/profile-bg.png");
  min-height: 600px;
  background-size: 100%;
  position: relative;
  text-align: center;
}
.contact-title img {
  margin-bottom: -8%;
  margin-top: 8%;
  width: 33%;
}
.contact-link {
  display: inline-block;
  margin-top: 16%;
}
.contact-image img {
  width: 35%;
  margin-top: 40px;
}
@media (max-width: 500px) {
  .top-logo img {
    margin-top: 6%;
    width: 84%;
  }
  section.story {
    background-image: url("/images/love_web背景2-01.png");
    background-size: 240%;
    min-height: 100px;
    position: relative;
    margin-top: -37px;
  }
  .story-title img {
    margin-left: 22%;
    margin-bottom: -9%;
    margin-top: 4%;
    width: 75%;
}
  .story-content img {
    width: 98%;
  }
  .story-content .story-content-2,
  .story-content .story-content-3,
  .story-content .story-content-4,
  .story-content .story-content-5 {
    margin-top: -5%;
  }
  .story-content .story-content-2,
  .story-content .story-content-4 {
    margin-left: 12%;
  }
  .story-content .story-content-1,
  .story-content .story-content-3,
  .story-content .story-content-5 {
    margin-right: 15%;
  }
  .story-content-5 img {
    width: 52%;
  }
  section.profile {
    min-height: 850px;
  }
  .cloud img,
  .cloud-2 img  {
    width: 69%;
  }
  .profile-title img {
    margin-bottom: -8%;
    margin-top: 11%;
    width: 55%;
  }
  .profile-content {
    display: inline-block;
    margin-top: 15%;
  }
  .profile-content-image {
    float: none;
  }
  .profile-content-description {
    float: none;
    margin-top: -34px;
  }
  .profile-content-description img {
    margin-left: 0;
    width: 103%;
  }
  .profile-content-image img {
    width: 60%;
  }
  .profile-content-image-list li {
    display: inline-block;
    margin: -11px;
    width: 27%;
  }
  section.goods {
    background-image: url("/images/twitter-bg.png");
    min-height: 440px;
    position: relative;
  }
  .goods-image img {
    position: absolute;
    top: 7%;
    left: 0;
    right: 0;
    margin: auto;
    width: 86%;
  }
  img.good-logo {
    width: 42%;
    position: absolute;
    top: 8%;
    left: -44%;
  }
  .cloud {
    position: absolute;
    top: -14%;
    left: 5%;
  }
  .cloud-2 {
    position: absolute;
    bottom: 10%;
    right: -17%;
  }
  section.twitter {
    background-image: url(/images/profile-bg.png);
    background-size: 100%;
    min-height: 600px;
    position: relative;
    text-align: center;
  }
  .twitter-title img {
    margin-bottom: -8%;
    margin-top: 8%;
    width: 45%;
  }
  img.follow-button {
    width: 31%;
    margin-top: 13%;
  }
  .twitter-timeline.twitter-timeline-error {
    width: 80%;
    height: 350px;
    overflow-y: scroll;
    display: block;
    margin: 17px auto 0;
    border-radius: 7px;
    border: solid 12px #f577af;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  section.contact {
    background-image: url("/images/profile-bg.png");
    min-height: 300px;
    position: relative;
    text-align: center;
  }
  .contact-title img {
    margin-bottom: -8%;
    margin-top: 8%;
    width: 45%;
  }
}
/* -------------------------------
 * footer
 * -------------------------------- */
 .footer {
  max-width: 1000px;
  height: 40px;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 16px;
  background-color: #f3d7e7;
}
.footer-inner {
  padding: 0 30px;
  display: block;
  color: gray;
  margin-top: 10px;
  box-sizing: border-box;
}
/* -------------------------------
 * animation
 * -------------------------------- */
 .story-content .story-content-1,
 .story-content .story-content-5,
 .cloud,
 .top-logo {
  animation: img_box_9955 3s linear infinite;
}
.story-content .story-content-3,
.cloud-2 {
  animation: img_box_9955 2s linear infinite;
}
.story-content .story-content-2 {
  animation: img_box_9955 5s linear infinite;
}
.story-content .story-content-4 {
  animation: img_box_9955 4s linear infinite;
}
@keyframes img_box_9955 {
  0% { transform: translateY(0) }
  33.33333% { transform: translateY(-20px) }
  66.66667% { transform: translateY(10) }
  100% { transform: translateY(0) }
}
